{% extends 'admin/base.html.twig' %}

{% block title %} Historique de la commande {{ order.id }} {% endblock %}


{% block body %}

<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<div class="main-body">
			<div class="page-wrapper">
				<div class="page-body">
					{% for label, messages in app.flashes %}
						<div class="alert alert-{{ label }} background-{{ label }}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<i class="icofont icofont-close-line-circled text-white"></i>
							</button>
							{% for message in messages %}
								<p style="margin-bottom: 0px !important;">{{ message | raw }}</p>
							{% endfor %}
						</div>
					{% endfor %}
		          <div class="page-header-breadcrumb">
		            <ul class=" breadcrumb breadcrumb-title" style="background: #f2f7fb; padding: 0px 5px;">
		              <li class="breadcrumb-item">
		                <a href="#" onclick="window.history.go(-1);" style="text-decoration: underline;">Commandes</a>
		              </li>
		              <li class="breadcrumb-item">
		                N°{{order.id}}
		              </li>
		            </ul>
		          </div>
					<div class="card">
						<div class="card-header">
							<h5>Historique de la commande {{ order.id }}</h5>
						</div>
						<div class="card-block table-border-style">
							{% if order.orderHistories.toArray %}
								<div class="table-responsive">
									<table class="table table-striped table-bordered datatable display">
										<thead>
											<tr>
												<th>Modification</th>
												<th>Utilisateur</th>
												<th>Date</th>
											</tr>
										</thead>
										<tbody>
											{% for history in order.orderHistories.toArray %}
												<tr>
													<td>{{ history.title }}</td>
													<td>{{ history.admin.firstName|capitalize }}</td>
													<td>{{history.createdAt|date_fr('EEE dd MMMM yyyy')|title }} à
														{{history.createdAt|date('H') }}h{{history.createdAt|date('i') }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="styleSelector"></div>
	</div>
</div>
</div>
</div>

{% endblock %}
