<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Impression</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/bootstrap-admin.min.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/style-admin.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/style-admin2.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/fontawesome.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/light.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/solid.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>
  </head>
  <body>

    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="page-body">
              <div class="">
                <div class="card-block">
                  {% if orders %}
                    <div>
                      <table>
                        <thead>
                          <tr>
                            <th>Création</th>
                            <th>Client</th>
                            <th>Produits</th>
                            <th>Méthode</th>
                            <th>Statut</th>
                            <th>Restant</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order in orders %}
                            <tr>
                              <td>{{order.createdAt|date('d/m/Y') }} <br>  à {{ order.createdAt|date('H:i') }}</td>
                              <td>{{ order.firstname }} {{ order.lastname }}</td>
                              <td>
                                {% set totalDiscount = 0 %}
                                {% if order.lineItems.toArray %}
                                  {% for lineItem in order.lineItems.toArray %}
                                    {% set totalDiscount = totalDiscount + lineItem.price %}
                                    <div style="max-width: fit-content; display: flex;"><div class="text-xs font-normal leading-none max-w-full flex-initial">{{ lineItem.quantity }} x ({{ lineItem.title }}) - {{ lineItem.price|number_format(2, ',', ' ') }}€</div></div>
                                  {% endfor %}
                                {% endif %}
                              </td>
                              <td>
                                {% if order.paymentMethod == 0 %}
                                  Espèce
                                {% elseif order.paymentMethod == 1 %}
                                  Transcash
                                {% elseif order.paymentMethod == 2 %}
                                  Carte bancaire
                                {% elseif order.paymentMethod == 3 %}
                                  Paypal
                                {% elseif order.paymentMethod == 4 %}
                                  PCS
                                {% elseif order.paymentMethod == 5 %}
                                  Chèque
                                {% elseif order.paymentMethod == 6 %}
                                  Paysafecard
                                {% elseif order.paymentMethod == 7 %}
                                  Virement bancaire
                                {% endif %}
                              </td>
                              <td>
                                {% if order.status == 0 %}
                                  En attente de paiement
                                {% elseif order.status == 1 %}
                                  Paiement partiel
                                {% elseif order.status == 2 %}
                                  Payé
                                {% elseif order.status == 3 %}
                                  Trop-perçu
                                {% endif %}
                              </td>
                              {% set totalDiscount = totalDiscount - order.discount + order.shippingCost %}
                              {% set remaining = order.total - order.paid %}
                              <td>{{ remaining|number_format(2, ',', ' ') }}€</td>
                              <td>{{ order.total|number_format(2, ',', ' ') }}€</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  {% else %}
                    Aucune commande actuellement.
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="styleSelector">
        </div>
      </div>
    </div>
    
    <style>
      .status {
        display: inline-flex;
        align-items: center;
        padding: .3rem .8rem;
        background-color: rgba(228, 229, 231, 1);
        border: 0;
        border-radius: 2rem;
        line-height: 1.6rem;
      }

      .result_icon {
        width: 32px;
        height: 32px;
        background-size: cover;
        background-position: center;
      }

      th, td {
        padding: 5px 10px;
      }
    </style>


    <script>
      window.print();
    </script>
  </body>
</html>

      

