{% extends 'admin/base.html.twig' %}

{% block title %}Edition d'un message {% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }} background-{{ label }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icofont icofont-close-line-circled text-white"></i>
              </button>
              {% for message in messages %}
                  <p style="margin-bottom: 0px !important;">{{ message | raw }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <div class="card">
            <div class="card-header">
              <h5>Edition d'un message</h5>
            </div>
            <div class="card-block">
              {{ form_start(form) }}
              {{ form_row(form.name, { 'label': 'Message' }) }}
              {{ form_row(form.admin, { 'label': 'Choisir un utilisateur' }) }}
              <div class="form-group row mt-2" style="float: right; margin-right: 20px;">
                <button type="submit" class="btn btn-primary m-b-0">Enregistrer</button>
              </div>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="styleSelector">
    </div>
  </div>
</div>
</div>
</div>

<script>
  $('#admin_note_amount').parent().hide();
</script>




{% endblock %}

{% block javascripts %}

<script>
  
$('.js-delete').click( function () {

  event.preventDefault();
  var url = this.href;

  const swalWithBootstrapButtons = Swal.mixin({
    confirmButtonClass: 'btn btn-success',
    cancelButtonClass: 'btn btn-danger',
    buttonsStyling: false,
    reverseButtons: true
  })

  swalWithBootstrapButtons.fire({
    title: 'Êtes vous sur ?',
    html: 'Attention ! Vous aller supprimer une transaction.',
    type: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Oui, supprimer',
    cancelButtonText: 'Non, c\'est une erreur',
  }).then((result) => {
    if (result.value) {
      location.href = url;
    }
  });
});

</script>

{% endblock %}


