{% extends 'admin/base.html.twig' %}

{% block title %} Montant des stocks {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/chartist.css">
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/widget.css">
{% endblock %}

{% block body %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }} background-{{ label }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icofont icofont-close-line-circled text-white"></i>
              </button>
              {% for message in messages %}
                <p style="margin-bottom: 0px !important;">{{ message | raw }}</p>
              {% endfor %}
            </div>
          {% endfor %}

          {% if array %}
            <div class="row">
              {% for item in array %}
                <div class="col-xl-3 col-md-6"> 
                  <div class="card prod-p-card" style="background: #fff">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                          <h6 class="m-b-5 text-white" style="font-weight: 700; color: #333 !important;">
                            {{ item.name|capitalize }}
                          </h6>
                          <h3 class="m-b-0 f-w-700 text-white" style="padding: 10px 0px; color: #333 !important;">
                            {{ item.amount|number_format(2, ',', ' ') }}€</h3>
                        </div>
                        <div class="col-auto">
                          <i class="fal fa-cube text-c-red f-18" style=" color: #333"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="styleSelector">
    </div>
  </div>
</div>
</div>
</div>


<style>

.status {
  display: inline-flex;
  align-items: center;
  padding: .3rem .8rem;
  background-color: rgba(228, 229, 231, 1);
  border: 0;
  border-radius: 2rem;
  line-height: 1.6rem;
}


.result_icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
}


</style>

{% endblock %}

