{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/chartist.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/widget.css">
{% endblock %}

{% block body %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        {% for label, messages in app.flashes %}
                            <div class="alert alert-{{ label }} background-{{ label }}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="icofont icofont-close-line-circled text-white"></i>
                                </button>
                                {% for message in messages %}
                                    <p style="margin-bottom: 0px !important;">{{ message | raw }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        
                        {# Première ligne - Statistiques principales #}
                        <div class="row">
                            {# Commandes du jour #}
                            <div class="col-xl-3 col-md-6">
                                <div class="card prod-p-card" style="background: #fff">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-5" style="font-weight: 700; color: #333">Commandes du jour</h6>
                                                <h3 class="m-b-0 f-w-700" style="padding: 10px 0px; color: #2ed8b6">
                                                    {{ todayOrdersCount }}</h3>
                                                <p class="m-b-0" style="color: #333">Total: {{ todayOrdersTotal|number_format(2, ',', ' ') }}€</p>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-shopping-cart text-c-blue f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# CA du mois #}
                            <div class="col-xl-3 col-md-6">
                                <div class="card prod-p-card" style="background: #fff">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-5" style="font-weight: 700; color: #333">CA du mois</h6>
                                                <h3 class="m-b-0 f-w-700" style="padding: 10px 0px; color: #2ed8b6">
                                                    {{ monthlyRevenue|number_format(2, ',', ' ') }}€</h3>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-euro-sign text-c-green f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# Nombre total de produits #}
                            <div class="col-xl-3 col-md-6">
                                <div class="card prod-p-card" style="background: #fff">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-5" style="font-weight: 700; color: #333">Total produits</h6>
                                                <h3 class="m-b-0 f-w-700" style="padding: 10px 0px; color: #2ed8b6">
                                                    {{ totalProducts }}</h3>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-box text-c-yellow f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Deuxième ligne - Statuts des commandes #}
                        <div class="row">
                            {# Commandes en attente #}
                            <div class="col-xl-3 col-md-6">
                                <a href="{{ path('admin_order_waitting') }}" class="text-decoration-none">
                                    <div class="card prod-p-card" style="background: #fff">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-b-5" style="font-weight: 700; color: #333">En attente</h6>
                                                    <h3 class="m-b-0 f-w-700" style="padding: 10px 0px; color: #FFB64D">
                                                        {{ pendingOrders }}</h3>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-clock text-warning f-18"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            {# Commandes en cours #}
                            <div class="col-xl-3 col-md-6">
                                <a href="{{ path('admin_order_expedition') }}" class="text-decoration-none">
                                    <div class="card prod-p-card" style="background: #fff">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-b-5" style="font-weight: 700; color: #333">En cours</h6>
                                                    <h3 class="m-b-0 f-w-700" style="padding: 10px 0px; color: #4099ff">
                                                        {{ processingOrders }}</h3>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-spinner text-primary f-18"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            {# Commandes livrées #}
                            <div class="col-xl-3 col-md-6">
                                <a href="{{ path('admin_order_livraison') }}" class="text-decoration-none">
                                    <div class="card prod-p-card" style="background: #fff">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-b-5" style="font-weight: 700; color: #333">Livrées</h6>
                                                    <h3 class="m-b-0 f-w-700" style="padding: 10px 0px; color: #2ed8b6">
                                                        {{ deliveredOrders }}</h3>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-check text-success f-18"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            {# Commandes impayées #}
                            <div class="col-xl-3 col-md-6">
                                <a href="{{ path('admin_order_impayee') }}" class="text-decoration-none">
                                    <div class="card prod-p-card" style="background: #fff">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-b-5" style="font-weight: 700; color: #333">Impayées</h6>
                                                    <h3 class="m-b-0 f-w-700" style="padding: 10px 0px; color: #FF5370">
                                                        {{ canceledOrders }}</h3>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-times text-danger f-18"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {# Troisième ligne - Alertes #}
                        <div class="row">
                            {# Produits en alerte de stock #}
                            <div class="col-xl-3 col-md-6">
                                <div class="card prod-p-card" style="background: #fff">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-b-5" style="font-weight: 700; color: #333">Produits en alerte stock</h6>
                                                <h3 class="m-b-0 f-w-700" style="padding: 10px 0px; color: #FF5370">
                                                    {{ lowStockProducts }}</h3>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-exclamation-triangle text-danger f-18"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="styleSelector">
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% include 'admin/partials/datatable.html.twig' %}
{% endblock %}
