<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Accès refusé</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/bootstrap-admin.min.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/style-admin.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/style-admin2.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/fontawesome.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/light.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/solid.css">
    
    {% block stylesheets %}{% endblock %}
  </head>
  <body>

    <div class="pcoded-content" style="margin-top: 50px;">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="page-body">
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <div style="text-align:center; margin: auto;">
                    <h3 style="font-weight: 500; color: #ff0000; margin-top: 20px; margin-bottom: 30px;">Vous n'avez pas accès à cette page.</h3>
                    <p>Vous ne pouvez pas accéder à cette page.</p>
                  </div>
                  <div class="sub mb-20 clearfix"><br>
                    <div style="text-align: center;">
                      <a href="{{ path('admin_dashboard') }}" class="btn btn-primary" style="font-size: 13px;">Revenir sur le tableau de bord</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ app.request.getBaseURL() }}/js/popper.min.js"></script>
    <script src="{{ app.request.getBaseURL() }}/js/bootstrap-admin.min.js"></script>
    <script src="{{ app.request.getBaseURL() }}/js/pcoded.min.js"></script>
    <script src="{{ app.request.getBaseURL() }}/js/vertical-layout.min.js"></script>
    <script src="{{ app.request.getBaseURL() }}/js/script.min.js"></script>
    <script src="{{ app.request.getBaseURL() }}/js/rocket-loader.min.js"></script>

  </body>
</html>


