{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter une transaction{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }} background-{{ label }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icofont icofont-close-line-circled text-white"></i>
              </button>
              {% for message in messages %}
                  <p style="margin-bottom: 0px !important;">{{ message | raw }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <div class="card">
            <div class="card-header">
              <h5>Ajouter une transaction</h5>
            </div>
            <div class="card-block">
              {{ form_start(form) }}
              {{ form_row(form.amount, { 'label': 'Montant' }) }}
              {{ form_row(form.comment, { 'label': 'Commentaire' }) }}
              <div class="form-group row mt-2" style="float: right; margin-right: 20px;">
                <button type="submit" class="btn btn-primary m-b-0">Enregistrer</button>
              </div>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="styleSelector">
    </div>
  </div>
</div>
</div>
</div>


{% endblock %}

{% block javascripts %}

<script>
  
  $("body").on("keyup", "#admin_transaction_amount", function (e) {
    console.log($(this).val());
    if ($(this).val() > 0) {
      $(this).css('color', '#2ecc71');
    } else {
      $(this).css('color', '#e74c3c');
    }
  });

</script>


{% endblock %}

