{% extends 'admin/base.html.twig' %}

{% block title %}Administration des dossiers{% endblock %}


{% block body %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }} background-{{ label }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icofont icofont-close-line-circled text-white"></i>
              </button>
              {% for message in messages %}
                <p style="margin-bottom: 0px !important;">{{ message | raw }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <div class="card">
            <div class="card-header">
              <h5>Liste des dossiers ({{folders|length}})</h5>
              {% if app.user.role == "ROLE_SUPER_ADMIN" %}
                <a href="{% if type == 0 %} {{ path('admin_folder_new') }} {% else %} {{ path('admin_folder_collections_new') }} {% endif %}" class="btn btn-out-dashed waves-effect waves-light btn-primary btn-square text-right" style="float: right; padding: 5px 10px; margin: 0px 5px;">Ajouter des dossiers</a>
              {% endif %}
              <input id="searchFolders" type="text" class="form-control" name="search" placeholder="Rechercher" style="width: 180px; border: 1px solid #ccc; border-radius: 4px; height: 30px; float: right; margin-right: 10px;">
            </div>
            <div class="card-block table-border-style">
              {% if folders %}
                {% for folder in folders %}
                  {% if folder.upload|length > 0 %}
                    <a href="{{ path('admin_folder_edit', { id: folder.id }) }}">
                      <div class="folder">
                        <p>{{ folder.name }} ({{ folder.upload|length }})</p>
                      </div>
                    </a>
                  {% endif %}
                {% endfor %}
              {% else %}
                Aucun dossier.
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="styleSelector">
    </div>
  </div>
</div>
</div>
</div>

<style>

.folder {
  width: 150px;
  height: 100px;
  margin: 30px;
  float: left;
  position: relative;
  background: rgb(110,166,239);
  background: linear-gradient(183deg, rgba(110,166,239,1) 11%, rgba(30,92,172,1) 100%);
  border-radius: 0 6px 6px 6px;
  transition: 0.10s ease-out;
}

.folder:hover{
  transform: scale(1.2);
}

.folder:before {
  content: '';
  width: 46%;
  height: 21px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  border-radius: 4px 0px 0 0;
  background-color: #1e5cac;
  position: absolute;
  top: -10.3px;
  left: 0px;
}

.folder:after {
  content: '';
  width: 29%;
  height: 5px;
  border-radius: 2px 2px 0 0;
  background-color: #ffffff;
  position: absolute;
  top: 5.6px;
  left: 4px;
}

.folder p{
  position: absolute;
  left: 20px;
  top: 20px;
  margin: 0%;
  font-size: 14px;
  color: white;
}

</style>

{% endblock %}


{% block javascripts %}
  
<script>
  

$("#searchFolders").keyup(function(event){
  var search = $(this).val().toLowerCase();

  $('.folder p').each(function() {
    var text = $(this).text().toLowerCase();
    if (text.includes(search)) {
      $(this).parent().parent().css("display", "inline");
    } else {
      $(this).parent().parent().css("display", "none");
    }
  });
});



</script>
{% endblock %}

